<h1 align="left"><%= notice %></h1>

<body class="index_image">

<section>
  <ul>
  <h1><%= link_to "UPLOAD", new_hoa_path %></h1>
  <h1><%= link_to "SEARCH" %></h1>
  <h1><%= link_to "RATE" %></h1>
</ul>
</section>

</body>


<!--
<body align="center"><p>top rated stuff</p>
&lt;!&ndash;<img src="http://31.media.tumblr.com/280a265f4280a671a98657cce2950bb2/tumblr_nbk6auQG2K1st5lhmo1_1280.jpg"&ndash;&gt;</div>
</body>
-->
